@import url('https://fonts.cdnfonts.com/css/noto-sans-tamil');

// Variables
$primary-color: #f2f2f2;
$text-color: #555;
$secondary-color: #ccc;
$placeholder-color: #666;

// Estilos globales
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Sans Tamil', sans-serif;
    background-color: $primary-color;
}

// Header
.head {
    background-color: $primary-color;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;

    .links {
        ul {
            list-style: none;
            display: flex;

            li {
                margin-top: 15px;
                margin-left: 20px;
                font-size: 90%;

                a {
                    text-decoration: none;
                    color: $text-color;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                .grid {
                    height: 23px;
                    position: relative;
                    bottom: 4px;
                }

                .signbutton {
                    background-color: #4885ed;
                    color: #fff;
                    border: none;
                    border-radius: 3px;
                    padding: 7px 10px;
                    position: relative;
                    bottom: 7px;
                    font-weight: bold;
                    transition: transform 0.2s ease;

                    &.left-rounded {
                        border-top-left-radius: 20px;
                        border-bottom-left-radius: 20px;
                    }

                    &.right-rounded {
                        border-top-right-radius: 20px;
                        border-bottom-right-radius: 20px;
                    }

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}

// Header

// Main
.sc-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;

    .google-img {
        max-width: 500px;
        height: 92px;
        width: 272px;
        margin: 0 auto;
    }

    .searching-fields {
        display: flex;
        align-items: center;
        border: 1px solid $secondary-color;
        border-radius: 24px;
        padding: 4px 15px;
        background-color: #fff;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px -1px 3px rgba(0, 0, 0, 0.1);
        width: 600px;
        margin-top: 50px;

        .fa-magnifying-glass {
            font-size: 18px;
            color: $text-color;
            margin-right: 8px;
        }

        input[type="text"] {
            border: none;
            outline: none;
            font-size: 16px;
            width: 100%;
            background-color: #fff;

            &::placeholder {
                color: $placeholder-color;
            }
        }

        .microphone,
        .lens {
            width: 24px;
            height: 24px;
            margin-left: auto;
            margin-top: 10px;
            cursor: pointer;
        }

        .lens {
            margin-right: 12px;
        }
    }

    input[type="submit"] {
        margin-top: 20px;
        border: none;
        background-color: $primary-color;
        padding: 8px 16px;
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.2s ease;

        // &:hover {
        //   background-color: #e0e0e0;
        // }
    }
}
// Main